*{
    font-family:"Rubik",sans-serif;
    color: #393c41;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::selection{
    background: rgb(64, 233, 154);
    color: rgb(31, 85, 31);
}

body{
    width: 100%;
}